<h2>Enter Car Details</h2>
<br>
<%= simple_form_for (@car) do |f| %>
  <%= f.input :brand, placeholder: "BMW"%>
  <%= f.input :car_model, placeholder: "7 Series"%>
  <%= f.input :year, placeholder: "2018"%>
  <%= f.input :milage, label: "Mileage", placeholder: "30000" %>
  <%= f.input :seats, placeholder: "4" %>
  <%= f.input :combustion, placeholder: "Diesel" %>
  <%= f.input :transmission, placeholder: "Automatic" %>
  <%= f.input :accessories, placeholder: "Air Conditonning, Anti Lock Braking System, Voice Control..." %>
  <%= f.input :plate_number, placeholder: "3650GYG" %>
  <%= f.input :price_per_hour, label: "Price Per Hour (€)", placeholder: "200" %>
  <%= f.input :price_per_day, label: "Price Per Day (€)", placeholder: "2500" %>
  <%= f.input :description, placeholder: "Description..." %>
  <%= f.input :photo, placeholder: "URL of photo" %>

<br>
<div class="submit">
  <%= f.button :submit, class: "btn-primary padding-right-left"%>
  <br>
  <p class="margin-zero padding-right-left"><%= link_to "Cancel", root_path %></p>
<% end %>
</div>



