<div class="cards">
<% @cars.each do |car| %>
  <div class="card">
    <%= link_to car_path(car) do %>
    <div class="card-img-top rounded pho" width="100%" style="background-image: url('<%= image_path car.photo %>')"></div>
    <% end %>
  <div class="card-body" >
  <h5 class="m-0"><%= car.car_model %></h5>
  <% if car.reviews.length == 0%>
  <% 5.times do %>
   <i class="fas fa-star" style="color: grey;"></i>
   <% end %>
   0
   <% end %>
  <% unless car.reviews.length == 0 %>
    <% counter = 0 %>
    <% car.reviews.each do |review| %>
    <% counter += review.rating.to_i %>
    <% end %>
      <p class="card-text m-0"><% counter/car.reviews.length.times do  %>
        <i class="fas fa-star"></i>
      <% end %><%= car.reviews.count %></p>
    <% end %>
  </div>
  <div class="box p-2">
  <h4><%= car.price_per_hour%>€</h4>
  <span>PER HOUR</span>
  </div>
  </div>
<% end %>
</div>
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<%= link_to "Add a car", new_car_path, class: "btn btn-primary btn-lg" %>


