<h1><%= @car.brand %></h1>
<p><%=  @car.price_per_hour %> </p>
<p>Plate Number - <%=  @car.plate_number.upcase %> </p>
<p>Price per hour - <%=  @car.price_per_hour %> €</p>
<p>Price per day - <%=  @car.price_per_day %> €</p>
<p>Milage - <%=  @car.milage %>kms €</p>
<p><%= link_to "Go back", cars_path %></p>
<% if policy(@car).edit? %>
<p><%= link_to "Book this car", new_car_booking_path(@car) %></p>
  <p><%=  link_to "Edit listing", edit_car_path(@car) %> </p>
<% end %>
