  <div class="main-container">
  <div class="top-info d-flex w-100">
    <div class="picture" id="car_picture" style="background-image: url('<%= image_path @car.photo %>')"></div>
      <div
    id="map"
    style="width: 100%;
    height: 400px; margin-right: 20px; margin-top: 20px; margin-left: 10px; border-radius: 5px;"
    data-marker="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>


  <div class="info-car">
      <div class="infos ml-2">
        <h1><%= @car.brand %> - <%= @car.car_model %>  <% if policy(@car).edit? %><%= link_to raw('<i class="fas fa-trash"></i>'), car_path(@car), method: :delete, data: { confirm: "Are you sure?" } %><% end %></h1>
        <p><%= @car.year %> |  <%= @car.seats %> seats <% if policy(@car).edit? %><%= link_to "Edit", edit_car_path(@car)%><% end %></p>
        <% if @car.reviews.length == 0%>
        <% 5.times do %>
         <i class="fas fa-star" style="color: grey;"></i>
         <% end %>
         0
         <% end %>
        <% unless @car.reviews.length == 0 %>
          <% counter = 0 %>
          <% @car.reviews.each do |review| %>
          <% counter += review.rating.to_i %>
          <% end %>
            <p class="card-text m-0"><% counter/@car.reviews.length.times do  %>
              <i class="fas fa-star"></i>
            <% end %><%= @car.reviews.count %></p>
          <% end %>
          <div class="features d-flex algin-items-center">
            <div class="transmission mt-3 d-flex">
              <i class="fas fa-bolt m-0" style="color: #D4AF37; font-size: 20px;"></i>
              <p class="m-0 ml-1">Immediate Reservation</p>
            </div>
            <div class="transmission ml-2 mt-3">
              <p class="m-0"><%= @car.transmission %> transmission</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
<div class="d-flex justify-content-between">
  <div class="show-cards">
    <div class="show-card">
      <h5><strong>OWNER</strong></h5>
      <div class="d-flex align-items-end">
        <img src="<%= @car.user.photo %>" alt="" class="avatar cust">
        <div class="ml-3 reviews d-flex align-items-end">
          <div class="stars">
          <p><%= @car.user.full_name %></p>
         <% if @car.user.reviews.length == 0%>
         <div class="d-flex align-items-center justify-content-around">
          <% 5.times do %>
           <i class="fas fa-star listar" style="color: grey;"></i>
           <% end %>
           <span class="m-0 ml-2">0 reviews</span>
           </div>
           <% end %>
           </div>
          <% unless @car.user.reviews.length == 0 %>
            <% counter = 0 %>
            <% @car.user.reviews.each do |review| %>
            <% counter += review.rating.to_i %>
            <% end %>
              <p class="card-text m-0"><% counter/@car.user.reviews.length.times do  %>
                </div>
                <i class="fas fa-star"></i>
                </div>
              <% end %><%= @car.user.reviews.count %> reviews</p>
            <% end %>
          </div>
       </div>
    </div>

      <% if @car.description.nil?%>
      <%=  %>
      <% else %>
    <div class="show-card">
      <h5><strong>CAR DESCRIPTION</strong></h5>
      <p><%= @car.description %></p>
    </div>
      <% end %>

      <% unless @car.owner_conditions.nil? %>
      <div class="show-card">
        <h5><strong>OWNER CONDITIONS</strong></h5>
        <p><%= @car.owner_conditions %></p>
      </div>
      <% end %>

      <div class="show-card">
        <h5><strong>TECHNICAL CHARACTERISTICS</strong></h5>
        <p><i class="fas fa-gas-pump mr-1" style="color: #D4AF37; font-size: 20px;"></i><strong>Combustion</strong>: <%= @car.combustion %>      -    <strong>Transmission</strong>: <%= @car.transmission %></p>
        <p class="m-0"><i class="fas fa-tachometer-alt mr-1" style="color: #D4AF37; font-size: 20px;"></i><strong>Milage</strong>: <%= @car.milage %>km</p>
      </div>

      <% if @car.accessories.nil?%>
      <%=  %>
      <% else %>
        <div class="show-card">
          <h5><strong>OPTIONS AND ACCESORIES</strong></h5>
          <p><%= @car.accessories %></p>
        </div>
      <% end %>
  </div>
  <% if !policy(@car).edit? %>
      <div class="new-box">
        <h5 class="mb-2">Dates</h5>
        <%= simple_form_for :booking, url: car_send_booking_path(@car.id), method: "post" do |f| %>
          <%= f.input :starts_at, as: :string, required: true, input_html: {class: "datepicker"} %>
          <%= f.input :ends_at, as: :string, required: true, input_html: {class: "datepicker"} %>
        <div class="tex">
          <h1 id="final_price"></h1>
          <p>Price per hour: <span id="car_price"><%= @car.price_per_hour %>€</span></p>
        </div>
        <%= f.button :submit, "Book It", class:"custom-button w-75 mb-3", style:"position: absolute; left: 12%; bottom: 0%" %>
        <% end %>
      </div>
    <% end %>
</div>





<!--      -->
